body.modal-open {
  overflow: hidden; /* empêche le scroll arrière */
}

.photograph-header {
  /* background-color: #fafafa;
  height: 300px;
  margin: 0 100px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  margin: 0 100px;
  padding: 50px 30px;
  flex-wrap: wrap;
  gap: 30px;
}

/* Colonne gauche */
.photograph-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 360px;
}

.photograph-header h2 {
  font-size: 48px;
  color: #d3573c;
  margin: 0;
}

.photographer-location {
  font-size: 20px;
  color: #901c1c;
  margin: 10px 0 0;
}

.photographer-tagline {
  font-size: 18px;
  color: #525252;
  margin: 10px 0;
}

.photographer-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

#contact_modal[aria-hidden="true"] {
  display: none;
}

#contact_modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #c4c4c490;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 30%;
  display: flex;
  height: 80vh; /* hauteur de 90% */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  margin-top: 7vh;
}

textarea {
  width: 100%; /* occupe toute la largeur du conteneur */
  height: 120px; /* ou la hauteur que tu veux */
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  resize: none; /* désactive le coin de redimensionnement */
  box-sizing: border-box; /* pour éviter les débordements */
}

.modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.close_button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: -50px;
}

.modal header h2 {
  font-size: 56px;
  font-weight: normal;
  text-align: left;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 28px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 58px;
  border: none;
  border-radius: 5px;
}

/* Galerie de photos du photographe */

.media-gallery {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 8rem;
  justify-content: center;
  padding: 2rem;
}

.media-gallery article {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: #c4c4c4;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

/* .media-gallery article:hover {
  transform: scale(1.02);
} */

.media-gallery img,
.media-gallery video {
  width: 350px;
  height: 295px;
  object-fit: cover;
  display: block;
}

.media-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
}

.media-info h3 {
  margin: 0;
  font-size: 1.1rem;
}

.media-likes {
  color: #901c1c;
  font-weight: bold;
}

/* Tarif du photographe */

.price-tag {
  position: fixed;
  bottom: 0;
  right: 2.5rem;
  background-color: #db8876;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  font-weight: bold;
  z-index: 1000;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------ 2 COLONNES de 768px à 1024px ------ */
@media screen and (max-width: 1024px) {
  .media-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .media-gallery article {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }

  .media-gallery img,
  .media-gallery video {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

/* ------ 1 COLONNE en dessous de 768px ------ */
@media screen and (max-width: 768px) {
  .media-gallery {
    grid-template-columns: 1fr !important;
  }
  .photograph-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact_button {
    margin: 20px 0;
  }

  .price-tag {
    bottom: 1rem;
    right: 1rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}
